span {
  display: inline-block;
}

.search-result__date {
  margin-right: 5px;
  width: 75px;
}

.search-result__day {
  margin: 0 5px;
  width: 35px;
}

.search-result__description {
  margin-left: 5px;
  width: 600px;
}
