<span class="search-result__date">{{date-format event.date}}</span>
<span class="search-result__day">{{day-format event.date}}</span>
<span class="search-result__description">{{event.title}} @ {{event.venue}}</span>
